{% extends "base.html" %}
{% load static %}

{% block title %}Categorías{% endblock %}

{% block content %}
<div id="titleCard">
    <h1 id="mainTitle" class="linear-wipe">
        Chatter
    </h1>
</div>

<form action="{% url 'buscar' %}">
    <div id="cats">
        {% csrf_token %}
        {% for genre in genre_list %}
        <div class="form-check cat">
            <input class="form-check-input flexCheck" type="checkbox" value="{{ busqueda }}" id="{{genre.name}}" name="q">
            <label class="form-check-label catLabel" for="{{genre.name}}">
              {{genre.name}}
            </label>
          </div>
        {% endfor %}
    </div>
    
  </div>
  <div id="footer">
      <button class="btn btn-outline-light" type="submit">Jugar</button>
      <a href="{% url 'index' %}"><button type="button" class="btn btn-outline-light" id="back">Volver al inicio</button></a>
    </div>
  </form>

<script>
    {% comment %} var cat = document.querySelector('.cat');

    function setProperty(duration) {
      cat.style.setProperty('--animation-time', duration +'s');
    }
    
    function changeAnimationTime() {
      var animationDuration = Math.random();
      setProperty(animationDuration);
    }
    
    setInterval(changeAnimationTime, 1000); {% endcomment %}
</script>
{% endblock %}

