{% extends "base.html" %} 
{% load static %} 
{% block title %}Chatter{% endblock%} 
{% block content %}

<div class="cardRow">
  {% if is_paginated %} 
  {% if page_obj.has_previous %}
    <div class="leftArrow">
      <a class="leftie" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
        <img src="{% static 'img/arrow.png' %}" alt="" class="inversed" />
      </a>
    </div>
    {% endif %}
    {% for theme in theme_list %}
    <div id="dCard">
      <div id="topCard">
        <div id="iconCard"><img src="" alt="" id="iCard" /></div>
        <div id="numberCard"></div>
      </div>
      <div id="themes">
        <h3 id="cardTitle"></h3>
        <div id="question">{{ theme.theme }}</div>
      </div>
    </div>
    {% endfor %}
    {% if page_obj.has_next %}
    <div class="rightArrow">
      <a class="rightie" href="{{ request.path }}?page={{ page_obj.next_page_number }}">
        <img src="{% static 'img/arrow.png' %}" alt="" class="arrow" />
      </a>
    </div>
    {% endif %} 
    {% endif %}
  </div>


<div id="footer">
  <a href="{% url 'index' %}"><button type="button" class="btn btn-outline-light boton espacio" id="back">Volver al inicio</button></a>
</div>

<script>
  var random_number = Math.floor(Math.random() * 11) + 1;
  document.getElementById("numberCard").innerHTML = random_number;

  var quotes = ["¡NUEVO TEMA!", "PREGUNTA", "ESTA ES DURA", "RESPONDE TU", "UFF", "NO SE YO", "TE TOCA A TI", "QUE DIFICIL", "PARA TI", "SOLO SOY UNA WEB", "A MI NO ME MIRES"];
  var random_quote = Math.floor(Math.random() * 10);
  document.getElementById("cardTitle").innerHTML = quotes[random_quote];

  var static = "{% static 'img/cardIcons/' %}";
  var random_image = Math.floor(Math.random() * 5) + 1;
  var path = static + random_image + ".png";
  document.getElementById("iCard").src = path;
</script>
{% endblock %}