{% extends "base.html" %} 
{% load static %} 
{% block title %}Chatter{% endblock%} 
{% block content %}
<div id="titleCard">
  <h1 id="mainTitle" class="linear-wipe">Chatter</h1>
</div>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for carousel items -->
  <div class="carousel-inner cortao">
    {% for theme in theme_list %}
    <div id="dCard">
      <div id="topCard">
        <div id="iconCard"><img src="" alt="" id="iCard" /></div>
        <div id="numberCard"></div>
      </div>
      <div id="themes">
        <h3 id="cardTitle"></h3>
        <div id="question">{{ theme.theme }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- Carousel controls -->
  <div id="controladores">
    {% if is_paginated %} {% if page_obj.has_previous %}
    <div id="leftie">
      <a class="carousel-control-prev controller leftie" href="{{ request.path }}?page={{ page_obj.previous_page_number }}" data-slide="prev">
        <img src="{% static 'img/arrow.png' %}" alt="" class="inversed" />
      </a>
    </div>
    {% endif %} {% if page_obj.has_next %}
    <div id="rightie">
      <a class="carousel-control-next controller rightie" href="{{ request.path }}?page={{ page_obj.next_page_number }}" data-slide="next">
        <img src="{% static 'img/arrow.png' %}" alt="" class="arrow" />
      </a>
    </div>
    {% endif %} {% endif %}
  </div>
</div>
<div id="footer">
  <a href="{% url 'index' %}"
    ><button type="button" class="btn btn-outline-light" id="back">
      Volver al inicio
    </button></a
  >
</div>

<script>
  var random_number = Math.floor(Math.random() * 11) + 1;
  document.getElementById("numberCard").innerHTML = random_number;

  var quotes = ["¡NUEVO TEMA!", "PREGUNTA", "ESTA ES DURA", "RESPONDE TU", "UFF", "NO SE YO", "TE TOCA A TI", "QUE DIFICIL", "PARA TI", "SOLO SOY UNA WEB", "A MI NO ME MIRES"];
  var random_quote = Math.floor(Math.random() * 10);
  document.getElementById("cardTitle").innerHTML = quotes[random_quote];

  var static = "{% static 'img/cardIcons/' %}";
  var random_image = Math.floor(Math.random() * 5) + 1;
  var path = static + random_image + ".png";
  document.getElementById("iCard").src = path;
</script>
{% endblock %}