{% extends "base.html" %}
{% load static %}

{% block title %}Chatter - Juego de preguntas{% endblock %}

{% block content %}

<div id="mainCard">
 <div id="description">
    <h2 id="mainDescription">
      Desafía a tus amigos con nuestras preguntas.
    </h2>
 </div>
 <div id="buttons">
    <a href="{% url 'game' %}"><button type="button" class="btn btn-light mb boton">Jugar</button></a>
    <a href="{% url 'categories' %}"><button type="button" class="btn btn-light mb boton">Categorías</button></a>
 </div>
</div>

{% endblock %}