{% extends "base.html" %}
{% load static %}

{% block title %}Chatter{% endblock %}

{% block content %}
<div id="titleCard">
    <h1 id="mainTitle" class="linear-wipe">
        Chatter
    </h1>
</div>
<div id="mainCard">
 <div id="description">
    <h2 id="mainDescription">
        Your stupid themes for conversations application.
    </h2>
 </div>
 <div id="buttons">
    <a href="{% url 'game' %}"><button type="button" class="btn btn-light mb">Play</button></a>
    <button type="button" class="btn btn-light mb">Categories</button>
 </div>
</div>

{% endblock %}