@font-face {
  font-family: milky;
  src: url(../fonts/Milky.ttf);
}

@font-face {
  font-family: blobby;
  src: url(../fonts/Blobby.ttf);
}

@font-face {
  font-family: aurora;
  src: url(../fonts/Ther.ttf);
}

:root {
  --animation-time: 5s 750ms; 
}

body {
  background: url(../img/wallp.jpg) no-repeat center center fixed;
}

#container {
  width: 100%;
  height: 100%;
}

#titleCard {
  width: 100%;
  margin-top: 5%;
  padding-left: 1rem;
}

#mainTitle {
  color: white;
  font-family: blobby;
  letter-spacing: 1rem;
  text-align: center;
  font-size: clamp(3rem, 8vw, 8rem);
}

.linear-wipe {
  text-align: center;
  
  background: linear-gradient(to right, #FFF 20%, rgb(255, 127, 53) 40%, #FFF 80%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 7s linear infinite;
}

#mainCard {
  margin: auto;
  width: 20rem;
  height: 30rem;
  background-image: linear-gradient(rgba(212, 111, 16, 0.6), rgba(206, 84, 8, 0.6)), url(../img/friends3.jpg);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  border: 2px solid black;
  box-shadow: 20px 20px rgba(0,0,0,.15);
  transition: all .4s ease;
}

#dCard {
  margin: auto;
  width: 20rem;
  height: 30rem;
  background: white;
  border-radius: 2rem;
  border: 2px solid black;
  box-shadow: 20px 20px rgba(0,0,0,.15);
  transition: all .4s ease;
  padding: 1.5rem;
}

#numberCard {
  font-family: milky;
  font-size: 3rem;
  text-align: right;
}

#mainCard:hover, #dCard:hover {
  box-shadow: 10px 10px rgba(0,0,0,.25);
}

#topCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#iCard {
  width: 4rem;
}

#themes {
  font-size: 2rem;
  padding: 2rem 0.5rem 2rem 0.5rem;
  text-align: center;
}

#description {
  padding-top: 3rem;
}

#mainDescription {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

#buttons {
  width: 100%;
  margin: 5rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
}

.arrow {
  width: 3rem;
  animation: float 5s ease-in-out infinite;
}

.inversed {
  width: 3rem;
  animation: float2 5s ease-in-out infinite;
}

#footer {
  position: fixed;
  width: 100%;
  bottom: 10rem;
  display: flex;
  justify-content: center;
}

.mb {
  width: 10rem;
}

#cardTitle {
  font-weight: 900;
}

#question {
  font-size: 1.5rem;
}

@keyframes float {
  0% {
    filter: drop-shadow(1px 1px 1px rgb(216, 216, 216)) brightness(0) invert(1);
    transform: scale(0.9);
    transition: 5s ease;
  }
  50% {
    filter: drop-shadow(1px 1px 10px rgb(231, 231, 231)) brightness(0) invert(1);
    transform: scale(1.1);
    transition: 5s ease;
  }
  100% {
    filter: drop-shadow(1px 1px 1px rgb(216, 216, 216)) brightness(0) invert(1);
    transform: scale(0.9);
    transition: 5s ease;
  }
}

@keyframes float2 {
  0% {
    filter: drop-shadow(1px 1px 1px rgb(212, 212, 212)) brightness(0) invert(1);
    transform: scale(0.9) rotate(180deg);
    transition: 5s ease;
  }
  50% {
    filter: drop-shadow(1px 1px 10px rgb(231, 231, 231)) brightness(0) invert(1);
    transform: scale(1.1) rotate(180deg);
    transition: 5s ease;
  }
  100% {
    filter: drop-shadow(1px 1px 1px rgb(216, 216, 216)) brightness(0) invert(1);
    transform: scale(0.9) rotate(180deg);
    transition: 5s ease;
  }
}

#controladores {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 13rem;
}

.rightie, .leftie {
  width: fit-content !important;
  height: fit-content !important;
}

#rightie {
  position: absolute;
  right: 30%;
}

#leftie {
  position: absolute;
  left: 30%;
}

.cortao {
  overflow:visible;
}

.sliderDesign {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
  margin-top: 8rem;
}

#cats {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  row-gap: 4rem;
  text-align: center;
}

.cat {
  width: 30 rem;
  height: 4rem;
  font-size: clamp(1.5rem, 3vw, 3rem);
  color: white;
  font-family: aurora;
  text-transform: uppercase;
  animation: lights  var(--animation-time) linear infinite;
}

.flexCheck {
  display: none;
}

  .form-check-label:hover {
  cursor: pointer;
}

input:checked +    {
  color: orange;
}

/* RESPONSIVE */

@media (max-width: 1200px) {
  #rightie {
    right: 20%;
  }

  #leftie {
    left: 20%;
  }

  #cats {
    row-gap: 3rem;
  }
}

@media (max-width: 800px) {
  #rightie {
    right: 10%;
  }

  #leftie {
    left: 10%;
  }

  #myCarousel, #mainCard {
    margin-top: 3rem;
  }

  #cats {
    row-gap: 2rem;
  }
}

@media (max-width: 600px) {
  
  #rightie {
    right: 30%;
  }
  
  #leftie {
    left: 30%;
  }

  #controladores {
    top: 33rem;
    height: fit-content;
  }

  .arrow, .inversed {
    width: 2.5rem;
  }

  #footer {
    position: static;
    margin-top: 8rem;
  }

  #myCarousel, #mainCard {
    margin-top: 3rem;
  }

  #titleCard {
    margin-top: 5rem;
  }

  #cats {
    row-gap: 1rem;
  }
}

/* ANIMATIONS */

@keyframes lights {
  0% {
    color: hsl(0, 0%, 100%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
  30% { 
    color: hsl(0, 0%, 100%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  40% { 
    color: hsl(0, 0%, 100%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }
  
  70% {
    color: hsl(0, 0%, 100%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  100% {
    color: hsl(0, 0%, 100%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}