@font-face {
  font-family: milky;
  src: url(../fonts/Milky.ttf);
}

@font-face {
  font-family: blobby;
  src: url(../fonts/Blobby.ttf);
}

@font-face {
  font-family: aurora;
  src: url(../fonts/Ther.ttf);
}

@font-face {
  font-family: akira;
  src: url(../fonts/Akira.ttf);
}

:root {
  --animation-time: 5s 750ms; 
}

body{
  background: url(../img/wallp.jpg) no-repeat center center fixed;
}

#container {
  width: 100%;
  height: 100%;
}

#titleCard {
  width: 100%;
  margin-top: 5%;
  padding-left: 1rem;
}

#mainTitle {
  color: white;
  font-family: akira;
  letter-spacing: 1rem;
  text-align: center;
  font-size: 8rem;
  text-align: center;
}

/* .linear-wipe {
  
  background: linear-gradient(to right, #FFF 20%, rgb(255, 127, 53) 40%, #FFF 80%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

#mainCard {
  margin: auto;
  width: 20rem;
  height: 30rem;
  background-image: linear-gradient(rgba(212, 111, 16, 0.6), rgba(206, 84, 8, 0.6)), url(../img/friends3.jpg);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  border: 2px solid black;
  box-shadow: 20px 20px rgba(0,0,0,.15);
  transition: all .4s ease;
}

.cardRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
  column-gap: 4rem;
}

.leftArrow, .rightArrow {
  margin-top: 14rem;
}

#dCard {
  width: 20rem;
  height: 30rem;
  background: white;
  border-radius: 2rem;
  border: 2px solid black;
  box-shadow: 20px 20px rgba(0,0,0,.15);
  transition: all .4s ease;
  padding: 1.5rem;
}

#numberCard {
  font-family: milky;
  font-size: 3rem;
  text-align: right;
}

#mainCard:hover, #dCard:hover {
  box-shadow: 10px 10px rgba(0,0,0,.25);
}

#topCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#iCard {
  width: 4rem;
}

#themes {
  font-size: 2rem;
  padding: 2rem 0.5rem 2rem 0.5rem;
  text-align: center;
}

.boton {
  font-weight: bold !important; 
}

#mainDescription {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

#buttons {
  width: 100%;
  margin: 5rem 0 1rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
}

.arrow {
  width: 3rem;
  animation: float 5s ease-in-out infinite;
}

.inversed {
  width: 3rem;
  animation: float2 5s ease-in-out infinite;
}

.inversed:hover, .arrow:hover {
  transition: all .4s ease;
}

#footer {
  z-index: 999;
  margin-top: 6rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

#footer button {
  margin: 1rem;
}

.mb {
  width: 10rem;
}

#cardTitle {
  font-weight: 900;
}

#question {
  font-size: 1.5rem;
}

@keyframes float {
  0% {
    filter: drop-shadow(1px 1px 1px rgb(216, 216, 216)) brightness(0) invert(1);
    transform: scale(0.9);
    transition: 5s ease;
  }
  50% {
    filter: drop-shadow(1px 1px 10px rgb(231, 231, 231)) brightness(0) invert(1);
    transform: scale(1.1);
    transition: 5s ease;
  }
  100% {
    filter: drop-shadow(1px 1px 1px rgb(216, 216, 216)) brightness(0) invert(1);
    transform: scale(0.9);
    transition: 5s ease;
  }
}

@keyframes float2 {
  0% {
    filter: drop-shadow(1px 1px 1px rgb(212, 212, 212)) brightness(0) invert(1);
    transform: scale(0.9) rotate(180deg);
    transition: 5s ease;
  }
  50% {
    filter: drop-shadow(1px 1px 10px rgb(231, 231, 231)) brightness(0) invert(1);
    transform: scale(1.1) rotate(180deg);
    transition: 5s ease;
  }
  100% {
    filter: drop-shadow(1px 1px 1px rgb(216, 216, 216)) brightness(0) invert(1);
    transform: scale(0.9) rotate(180deg);
    transition: 5s ease;
  }
}

.rightie, .leftie {
  width: fit-content !important;
  height: fit-content !important;
}

#busqueda {
  width: 100rem;
  height: 5rem;
}

.cats {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  column-gap: 2rem;
  text-align: center;
}

/* .cat {
  width: fit-content;
  height: fit-content;
   animation: lights  var(--animation-time) linear infinite; 
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.borde {
  width: fit-content;
  height: fit-content;
  background-color: var(--clr);
}

.cat label {
  padding: 1rem 1rem;
  border: 5px solid rgba(0, 0, 0, 0.3);
  font-size: 2rem;
  vertical-align: middle;
  color: white;
  opacity: 0.7;
  font-family: aurora;
  text-transform: uppercase;
  transition: 1s;
  -webkit-box-reflect: below 1px
  linear-gradient(transparent,transparent,#0004);
}

.cat label:hover {
  opacity: 1;
  cursor: pointer;
}

.flexCheck {
  display: none;
}

.cat:hover {
  cursor: pointer;
}

input:checked + label {
  opacity: 1;
  background: var(--clr);
  box-shadow: 0 0 10px var(--clr),
  0 0 30px var(--clr),
  0 0 60px var(--clr),
  0 0 100px var(--clr);
  border: 5px solid rgba(0, 0, 0, 0);
} */

.genreSpan {
  position: relative;
  padding: 20px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  text-decoration: none;
  margin: 15px 10px;
  transition: 1s;
  -webkit-box-reflect: below 1px
  linear-gradient(transparent,transparent,#0004);
}

input:checked ~ .genreSpan {
  background: var(--clr);
  box-shadow: 0 0 10px var(--clr),
  0 0 30px var(--clr),
  0 0 60px var(--clr),
  0 0 100px var(--clr);
}

.genreSpan::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 500%;
  background: var(--clr);
  transition: 1s;
  animation: animate 3s linear infinite;
  animation-delay: calc(-0.33s * var(--1));
}

input:not(:checked) ~ .genreSpan::before {
  background: var(--clr);
}

input:checked ~ .genreSpan::before {
  width: 120%;
}

input:not(:checked) ~ .genreSpan::after {
  content: '';
  position: absolute;
  inset: 4px;
  background: rgb(18, 20, 71);
  transition: 0.5s;
}

input:checked ~ .genreSpan::after {
  background: var(--clr);
}

span {
  position: relative;
  z-index: 1;
  font-size: 1.5rem;
  color: #fff;
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: milky;
}

input:checked ~ .genreSpan span, .genreSpan:hover span {
  opacity: 1;
}

/* RESPONSIVE */

@media (max-width: 1200px) {
  #cats {
    row-gap: 3rem;
  }
}

@media (max-width: 800px) {
  #myCarousel, #mainCard {
    margin-top: 3rem;
  }

  #cats {
    row-gap: 2rem;
  }

  #mainTitle {
    font-size: 4rem;
    margin-top: 5rem;
  }

  #mainCard {
    margin-top: 3rem;
  }
}

@media (max-width: 600px) {

  #controladores {
    top: 33rem;
    height: fit-content;
  }

  .arrow, .inversed {
    width: 2.5rem;
  }

  #footer {
    position: static;
    margin-top: 8rem;
  }

  #myCarousel, #mainCard {
    margin-top: 3rem;
  }

  #titleCard {
    margin-top: 5rem;
  }

  #cats {
    row-gap: 1rem;
  }
}

/* ANIMATIONS */

@keyframes lights {
  0% {
    color: hsl(0, 0%, 100%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
  30% { 
    color: hsl(0, 0%, 100%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  40% { 
    color: hsl(0, 0%, 100%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }
  
  70% {
    color: hsl(0, 0%, 100%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  100% {
    color: hsl(0, 0%, 100%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}